@charset "UTF-8";

/* Minha paleta de cores:
azul: #00698F
marrom: #8F4A00
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #00698F;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.615);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #00698F url(../imagens/build.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}

section#login > div#formulário {
    display: block;
    padding: 10px;
}


div#formulário > p {
    margin-bottom: 10px;
}

div#formulário > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

div.campo > input {
    background-color: #6cd3cf;
    font-size: 1em;
    height: 100%;
    border-radius: 5px;
    width: calc(100% - 30px);

    
}

div.campo >input:focus-within {
    background-color: white;
}


label {
    font-size: 0.9em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}


form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6cd3cf;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

form > a.botao:hover {
    background-color: #8fedea;
}

form > a.botao > i {
    font-size: 0.8em;
}
